.wrapper {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #fff;
}

.latest-projects {
    padding: 40px 0 40px 0;
    text-align: center;
}

.latest-projects h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.underline {
    width: 60px;
    height: 2px;
    background: #f1c40f;
    margin: 10px auto 25px auto;
}

.projects-row {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 0 40px;
}

.projects-row img {
    width: 31%;
    height: 250px;
    object-fit: cover;
}

.slider-buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;

}

.slider-buttons button {
    width: 40px;
    height: 30px;
    border: none;
    background: #dcdcdc;
    cursor: pointer;
    font-size: 20px;
    padding-top: 5px;
    color: #555;
    transition: 0.2 ease;
}

.slider-buttons button:hover {
    background: #bbb;
}

.slider-buttons .slash {
    position: absolute;
    line-height: 1;
    font-size: 30px;
}
.consultation {
    background: #222;
    padding: 40px 0 40px 90px;
    display: flex;
}

.consultation-box {
    width: 100%;
    display: flex;
    gap: 50px;
}

.consult-left {
    width: 60%;
    color: #fff;
    padding-top: 38px;
    margin-left: 31px;
}

.consult-left h3 {
    color: #f1c40f;
    font-size: 22px;
    margin-bottom: 18px;
}

.underline-2 {
    width: 60px;
    height: 2px;
    background: #f1c40f;
    margin: 10px 0 18px 0;
}

.consult-left p {
    font-size: 10px;
    opacity: 0.4;
    line-height: 1.5;
}

.consult-form {
    background: white;
    padding: 30px 25px 30px;
    margin-right: 130px;
    width: 500px;
    border-radius: 3px;
    gap: 18px;
}

.cosult-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.consult-form input {
    padding: 12px 14px;
    margin-bottom: 30px;
    background: #f5f5f5;
    font-size: 14px;
    border: none;
    border-radius: 2px;
}

.consult-form .full {
    width: 48%;
}

.consult-form .arrow {
    position: absolute;
    left: 68%;
    top: 386%;
    pointer-events: none;
    font-size: 22px;
    color: #555;
}

.consult-form button {
    background: #dcdcdc;
    color: #000;
    border: none;
    padding: 12px 39px;
    margin-left: 18px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
}

.logos {
    padding: 49px 0;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.logos img {
    width: 120px;
    height: 80px;
    opacity: 0.8;
}