.offers {
    margin-top: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offers h2 {
    text-align: center;
    margin-bottom: 5px;
}

.underline-1 {
    width: 55px;
    height: 2px;
    background: #f1c40f;
    margin: 10px auto 8px auto;
}

.offer {
    display: flex;
    padding: 20px 170px;
    gap: 50px;
    margin-bottom: 50px;
}

.offer h6 {
    font-size: 13px;
    margin-bottom: 10px;
}

.offer p {
    font-size: 10px;
}

.offer img {
    width: 110%;
    height: 200px;
    margin-bottom: 20px;
}

.members {
    display: flex;
    gap: 140px;
    background-color: rgba(11, 5, 5, 0.824);
    width: 100%;
    height: 200px;
    padding: 85px 0 148px 0;
    justify-content: center;
}

.numbers h3 {
    text-align: center;
    color: yellow;
    margin-bottom: 15px;
    font-size: 29px;
    font-family:Georgia, sans-serif;
}

.numbers p {
    font-size: 12px;
    color: white;
}