.hero {
    width: 100%;
    height: 100vh;
    background: url('../../assets/images/homeimg/jcb.png') center/cover no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.content h1 {
    font-size: 42px;
    font-weight: 800;
    color: rgba(230, 230, 21, 0.9);
    margin-bottom: 10px;
}

.content p {
    font-size: 15px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn {
    padding: 12px 25px;
    border: 3px solid #fff;
    cursor: pointer;
    /* font-size: 15px; */
    background: transparent;
}

.learn {
    color: #fff;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}

.touch {
    font-weight: 700;
    font-size: 17px;
    background: #f7c308;
    border-color: #f7c308;
    color: #000;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {

    .hero {
        height: auto;
        min-height: 100vh;
        background-position: center;
    }

    .content {
        padding: 20px;
    }

    .content h1 {
        font-size: 22px;
        line-height: 1.3;
        margin-bottom: 15px;
    }

    .content p {
        font-size: 13px;
        margin-bottom: 22px;
    }

    .buttons {
        flex-direction: row;
        gap: 13px;
    }

    .btn {
        width: 80%;
        padding: 8px 20px;
    }

    .learn {
        font-size: 10px;
    }

    .touch {
        font-size: 12px;
    }
}

@media (hover: hover) and (pointer: fine) {

    .learn:hover {
        background: rgba(255, 255, 255, 0.294);
        color: black;
        border: 3px solid #ffffff37;
        transform: scale(0.9);
    }

    .touch:hover {
        background: #f7c30834;
        color: #fff;
        border-color: #f7c3085a;
        transform: scale(0.9);
    }
}