* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.header-container {
  width: 100%;
}

.topbar {
  background: #2f2f2f;
  color: #fff;
  padding: 12px 155px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Georgia, sans-serif;
}

.left-info {
  display: flex;
  gap: 25px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #f1c40f;
}

.info-item p {
  color: #fff;
  font-size: 12px;
}

.right-info {
  display: flex;
  align-items: center;
  gap: 6px;
}

.phone-icon,
.consult {
  color: #f1c40f;
  font-size: 12px;
  font-weight: bold;
}

.phone-number {
  color: #fff;
}

.navbar {
  padding: 10px 149px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
  height: 50px;
}

.nav-text h2 {
  font-size: 28px;
}

.nav-text p {
  font-size: 11px;
  color: #777;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: 11px;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links li:hover {
  color: #ffb400;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-wrapper .search-icon {
  flex-shrink: 0;       
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.search-label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  background: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.search-label.open {
  width: 135px;
  padding: 6px 10px;
  opacity: 1;
  pointer-events: auto;
}

.search-label input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 13px;
}

.icon-container {
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ham-line {
  width: 22px;
  height: 2px;
  background: #000;
}

@media (max-width: 768px) {
  .topbar {
    padding: 10px 15px;
    flex-direction: column;
    gap: 10px;
  }

  .left-info {
    margin-right: 8px;
  }

  .info-item p {
    font-size: 11px;
  }

  .right-info {
    margin-right: 20px;
    text-align: center;
  }

  .consult {
    font-size: 10px;
  }

  .phone-number {
    font-size: 11px;
  }

  .navbar {
    padding: 8px 2px;
  }

  .logo {
    display: flex;
    gap: 5px;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }

  .nav-text h2 {
    font-size: 20px;
  }

  .nav-text p {
    font-size: 9px;
  }

  .nav-links {
    position: fixed;
    top: 114px;
    left: -100%;
    width: 75%;
    background: #fff;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 20px 0 20px;
    transition: left 0.35s ease;
    z-index: 1100;
  }

  .nav-links.open {
    left: 0;
  }

  .nav-links li {
    width: 100%;
    padding-left: 20px;
    text-align: left;
  }

  .search-wrapper {
    display: none;
  }

  .nav-links li:not(.search-wrapper) {
    display: none;
  }

  .nav-links.open li:not(.search-wrapper) {
    display: block;
  }

  .icon-container {
    display: flex;
    position: absolute;
    top: 67px;         
    right: 12px;       
    z-index: 1200;
    gap: 11px;         
    align-items: center;
    height: 40px;      
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 5px;
    cursor: pointer;
    height: 100%;            
  }

  .ham-line {
    width: 22px;
    height: 2px;
    background: #000;
    border-radius: 2px;
  }

  .close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-right: 2px;
    cursor: pointer;
    height: 100%;   
    line-height: 1;
    padding: 0;
  }
  .icon-container .search-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;  
    position: relative;
    gap: 8px;
  }

  .icon-container .search-wrapper .search-icon {
    flex-shrink: 0;   
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  .icon-container .search-label {
    position: absolute;
    left: -900%;         
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    opacity: 0;
    pointer-events: none;
    transition: width 0.3s ease, opacity 0.3s ease;
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 0;
  }

  .icon-container .search-label.open {
    width: 120px;         
    opacity: 1;
    pointer-events: auto;
    padding: 6px 10px;
    margin-left: 39px;
  }

  .icon-container .search-label input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 13px;
  }
}