.footer {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    background-color: rgba(2, 1, 1, 0.804);
    padding: 90px 130px 80px;
}

.footer-col {
    width: 30%;
}

.footer-logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo-box img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.footer-icon {
    font-size: 40px;
}

.footer-col h2 {
    margin-top: 30px;
    font-size: 26px;
    cursor: pointer;
}

.footer-col p {
    font-size: 11px;
    color: white;
    margin: 0;
    opacity: 0.8;
}

.footer-col h3 {
    font-size: 16px;
    color: white;
}

.footer-link {
    display: flex;
    gap: 60px;
    font-size: 10px;
    line-height: 20px;
}

.footer-col ul {
    padding: 0;
}

.line-1 {
    width: 50px;
    height: 2px;
    background: #f1c40f;
    margin: 10px 2px;
}

.line-2 {
    width: 50px;
    height: 2px;
    background: #f1c40f;
    margin: 10px 2px;
}

.footer-col li {
    margin: 6px 0;
    font-size: 11px;
    color: white;
    opacity: 0.9;
}

.footer-contact {
    line-height: 20px;
    margin-top: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 140px;
    font-size: 11px;
    background-color: rgba(0, 0, 0, 0.844);
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 80px;
}

.footer-links a {
    color: #ddd;
}

.footer-links span {
    color: #666;
}

@media (max-width: 768px) {

  .footer-top {
    flex-direction: column;   
    padding: 40px 20px;
    gap: 35px;
    text-align: center;
  }

  .footer-col {
    width: 100%;
  }

  .footer-logo-box {
    justify-content: center;
  }

  .footer-col h2 {
    font-size: 23px;
    margin-top: 20px;
  }

  .footer-col h3 {
    font-size: 15px;
  }

  .footer-col p {
    font-size: 10px;
  }

  .footer-link {
    justify-content: center;
    text-align: center;
    gap: 25px;
    font-size: 11px;
  }

  .line-1,
  .line-2 {
    margin: 12px auto;
  }

  .footer-contact {
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    padding: 18px 20px;
    text-align: center;
  }

  .footer-links {
    padding-right: 0;
    justify-content: center;
  }
}
